*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #121F3D;
}

/* NAV BOOTSTRAP*/


nav{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(51,16,140,1) 53%, rgba(87,27,237,1) 100%);
}

.letraB {
    color: white;
    text-decoration: none;
    border-radius: 25px;
    margin: 10px;
    padding: 7px;
}


.letraB:hover {
    color: black;
    background-color: white;
    border-radius: 25px;
    transition: all .5s;
}


.logo{
    width:  161px;
    height: 60px;
    position: relative;
    top: 4px;
    left: 4px;
}

.logoBairesNav{
    width:  161px;
    height: 60px;
    position: relative;
    top: 4px;
    left: 4px;
    margin-right: 50px;
    margin-bottom: 5px;
}

/* LINEA AZUL*/


.lineaAzul {
    width: 100%;
    height: 45px;
    background-color: #121F3D;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}


.contentTel {
    width: 170;
    height: 30px;
    align-self: auto;
    padding-top: 7.5px;
    margin-left: 25px;
    margin-right: 10px;
}


.tel {
    width: 170px;
    height: 30px;
    color: white;
    border: solid 2px #03A9F4;
    font-size: 12px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    align-self: auto;
}

.tel:hover {
    background-color: rgb(98, 37, 197);
    transition: all .5s;
}


.lineaAzul .contentTel a{
    font-size: 12px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
}

.lineaAzul .Seccion h4{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: rgb(240, 255, 243);
    text-decoration: none;
}

.lineaAzul .Seccion {
    font-size: 1rem;
    margin-left: 25px;
}

.contentMail {
    width: 200px;
    height: 30px;
    align-self: auto;
    padding-top: 7.5px;
    margin-left: 10px;
}

.Mail {
    width: 220px;
    height: 30px;
    color: white;
    border: solid 2px #03A9F4;
    font-size: 12px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}



.Mail:hover {
    background-color: rgb(98, 37, 197);
    transition: all .5s;
}


.lineaAzul .contentMail a{
    font-size: 12px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
}

/* MAIN */


.lineaAzul .contentMail a{
    font-size: 12px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
}



/* CUERPO GESTORIA */


.contenedorGridGestoria { 
    display: grid;
    background-color: #121F3D;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      "Personas Automotores Inmobiliario";

  }
  
  .Personas { grid-area: Personas;  }
  
  .Automotores { grid-area: Automotores; }
  
  .CiudadaniaESP { grid-area: Inmobiliario; }



/* CARDS */

.Personas {
    display: flex;
    justify-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../assets/fondos/fondo-tramites-personas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.CardPersonas {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 680px;
    background-color:rgba(215, 222, 220, 0.7);
    color: white;
    border-radius: 0px 25px 25px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.CardPersonas:hover {
    background-color:rgba(215, 222, 220, 1);
    transition: 0.3s;
}


.CardPersonas h1 {
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
}


.TituloPersonas {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}


.bandeArg {
    width: 300px;
    height: 200px;
    margin-top: 35px;

}

.bandeArg:hover {-webkit-transform:scale(1.3);transform:scale(1.1);transition: all .3s;}
.bandeArg {overflow:hidden;transition: all .3s;} 


.descripcionPersonas {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 35px;
}

.descripcionPersonas:hover {
    color: black;
    transition: 0.3s;
}


.BotConsulta {
    width: 170px;
    height: 30px;
    box-shadow: 2px 2px 15px #000;
    background-color: #02e675;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    align-self: center;
    color: white;
    font-family:'Poppins', sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.BotConsulta a h4{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin: 5px;
}


.BotConsulta a {
    text-decoration: none;
}


.BotConsulta:hover {
    background-color: rgb(98, 37, 197);
    transition: all .5s;
}



.Automotores {
    display: flex;
    justify-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../assets/fondos/fondo-auto3.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    justify-content: center;
}





.CardAuto {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 680px;
    background-color:rgba(215, 222, 220, 0.7);
    color: white;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.CardAuto:hover {
    background-color:rgba(215, 222, 220, 1);
    transition: 0.3s;
}


.CardAuto h1 {
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
}


.TituloAuto {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-top: 10px;

}

.bandeITA {
    width: 300px;
    margin-top: 35px;
}

.bandeITA:hover {-webkit-transform:scale(1.3);transform:scale(1.1);transition: all .3s;}
.bandeITA {overflow:hidden;transition: all .3s;} 


.descripcionAuto {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 35px;


}

.descripcionAuto:hover {
    color: black;
    transition: 0.3s;
}





.Inmobiliario {
    display: flex;
    justify-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../assets/fondos/fondo-inmo.jpg);
    background-size: cover; 
    background-position:center;
    background-repeat: no-repeat;
    justify-content: end;
}




.CardInmo {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 680px;
    background-color:rgba(215, 222, 220, 0.7);
    color: white;
    border-radius: 20px 0px 0px 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.CardInmo:hover {
    background-color:rgba(215, 222, 220, 1);
    transition: 0.3s;
}


.CardInmo h1 {
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
}


.TituloInmo {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-top: 10px;

}

.bandeESP {
    width: 300px;
    margin-top: 35px;
}

.bandeESP:hover {-webkit-transform:scale(1.3);transform:scale(1.1);transition: all .3s;}
.bandeESP {overflow:hidden;transition: all .3s;} 


.descripcionInmo {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 35px;

}

.descripcionInmo:hover {
    color: black;
    transition: 0.3s;
}



h3 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}




/*CONTACTO*/


.Contacto1 {
    background-color: #121F3D;
}

.Contacto2 {
    background-color: #121F3D;
}

.Contacto3 {
    background-color: #121F3D;
}


.Contacto1 {
    border: solid 2px #03A9F4;
    width: 354px;
    height: 254px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.contenedorRedes {
    width: 200px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 45px;
    justify-content: center;
    align-items: center;
}

.icoredes:hover {
    filter: brightness(50%);
    transition: all .5s;
}


.contenedorCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
    "Contacto1 Contacto2 Contacto3"
}

.Contacto1 { grid-area: Contacto1; }

.Contacto2 { grid-area: Contacto2; }

.Contacto3 { grid-area: Contacto3; }




.contenedorCont {
    background-color: #121F3D;
    align-items: center;
    justify-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 5px auto;
}

.ContenMenuDown li {
    list-style: none;
}

.BAneg {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

}



.Contacto2 {
    display: flex;
    border: solid 2px #03A9F4;
    width: 354px;
    height: 254px;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin: 0 auto;

}

.Contacto2 {
    justify-self: center;
    align-self: center;

}

.Contacto3 {
    border: solid 2px #03A9F4;
    width: 354px;
    height: 254px;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
}


.ContenMenuDown {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; 
    margin-left: 2rem;   
    margin-right: 3rem;
}


.ContenMenuDown li h3 {
    font-family:'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: white;

}


.ContenMenuDown li a {
    font-family:'Poppins', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    text-decoration:underline;
    color: #05B4CD;
}




.Redes h2 {
    font-family:'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}


.ContenMenuDown li h3 {
    color: white;
    }






/*FOOTER*/

.footer {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(51,16,140,1) 53%, rgba(87,27,237,1) 100%);
    padding: 1rem;
}


.footer h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}
.footer {
    width: 100%;
    }
    .Logo2 {
        margin: 2rem;
    }
    .LogoCont {
        width: 161px;
    }

    .footer a{
        color: #03A9F4;
        text-decoration: none;
        font-weight: 800;
    }




/* MEDIAS QUERIES 1 */



@media (max-width: 1083px)  {

    .logoBairesNav{
        width:  161px;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .contenedorGridGestoria { 
        display: grid;
        background-color: #121F3D;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 2px 2px;
        grid-auto-flow: row;
        grid-template-areas:
          "Personas"
          "Automotores"
          "Inmobiliario";
    
      }
      
      .Personas { grid-area: Personas;  }
      
      .Automotores { grid-area: Automotores; }
      
      .Inmobiliario { grid-area: Inmobiliario; }
    
      .Personas, .Automotores, .Inmobiliario {
        justify-content: start;
    }
    .CardPersonas, .CardAuto, .CardInmo {
        border-radius: 0px 25px 25px 0px;
    }
    
      .contenedorCont {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .Contacto1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
    }
    
    .Contacto1, .Contacto2, .Contacto3 {
        margin: 25px auto;
        }
    }

/* MEDIAS QUERIES 2 */


@media (max-width: 830px)  {
    .lineaAzul {
        width: 100%;
        height: 45px;
        flex-wrap:nowrap;
        justify-content: center;
    }
    .menu {
        font-size: 0.8rem;
        }
        
    .lineaAzul .Seccion h4{
        display: none;
        }

}
