* {
    margin: 0;
    padding: 0;
}

/* Header */

.fondologo {
    width: 292px;
    height: 70px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(51,16,140,1) 53%, rgba(87,27,237,1) 100%);
    position: absolute;
    top: 0px;
    left: 0px;
}

.letraBaires {
    color: white;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 4px;
    left: 110px;
}

.letraConsulting {
    color: white;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 23px;
    left: 110px;
}


.slogan {
    color: white;
    font-size: 8px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 52px;
    left: 125px;
}



.logoB {
    width: 52px;
    height: 60px;
    position: absolute;
    top: 5px;
    left: 50px;
}

.navega {
    width: 900px;
    height: 70px;
    background-color: #571bed;
    position: relative;
    top: 0px;
    left: 292px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navega ul{
    list-style: none;
    text-align: center;

}

.navegaDown ul{
    list-style: none;
    text-align: left;
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 100px;
    left: 300px;
}


.menu > li{
    display: inline-block;
    font-size: 15px;
}

.menu > li > a{
    display: block;
    padding: 30px 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    text-decoration: none;
}

.menu   li a:hover {
    color: black;
    text-shadow: 2px 2px 7px #000;
    transition: all .3s;
}

.contentTel {
    width: 258px;
    height: 70px;
    background: rgb(87,27,237);
    background: linear-gradient(90deg, rgba(87,27,237,1) 0%, rgba(42,118,227,1) 36%, rgba(3,198,218,1) 100%);
    position: absolute;
    top: 0px;
    left: 1192px;
}

.tel {
    width: 170px;
    height: 30px;
    position: absolute;
    top: 18px;
    left: 1170px;
    color: white;
    box-shadow: 2px 2px 50px #000;
    background-color: #02e675;
    font-size: 12px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.tel {
    border-width: 2px;
    border-style: solid;
    border-color: #000;
}

.tel:hover {
    background-color: rgb(98, 37, 197);
    transition: all .5s;
}


/* FIN Header */

.lineaFina {
    width: 1450px;
    height: 2px;
    background-color: #221E22;
    position: absolute;
    top: 70px;
    left: 0px;
}

/* MAIN */


.fondoCuerpoCont {
    width: 1450px;
    height: 700px;
    position: relative;
    background-color: #1f6cb4;
    top: -16px;
    }


#tituloForm {
    font-family: 'Montserrat', sans-serif;
    color: black;
    position: absolute;
    top: 35px;
    left: 260px;
    z-index: 90;
}

h1 {
color: white;
}

h3 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

#descripcionAutomotor {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 400;
    text-align: left;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 100px;
    left: 440px;
    z-index: 90;
}

.fondoPresentacionAutomotor {
    width: 950px;
    height: 600px;
    background-color:#D7DEDC;
    position: absolute;
    top: 30px;
    left: 250px;
    z-index: 20;
    color: white;
    border-radius: 25px;
    text-align: center;
}

.enviar {
    width: 170px;
    height: 30px;
    position: absolute;
    top: 520px;
    left: 380px;
    color: white;
    box-shadow: 2px 2px 15px #000;
    background-color: #02e675;
    font-size: 12px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.enviar {
    border-width: 2px;
    border-style: solid;
    border-color: #000;
}

.enviar:hover {
    background-color: rgb(98, 37, 197);
        box-shadow: 2px 2px 30px #000;
    transition: all .5s;
}

.contactoBajo {
    display: flex;
    width: 1450px;
    height: 300px;
    background-color: #D7DEDC;
    position: absolute;
    top: 752px;
    justify-content: center;
}

.lineaFina2 {
    width: 1450px;
    height: 2px;
    background-color: #221E22;
    position: absolute;
    top: 752px;
    left: 0px;
}

.contentCoppy {
    display: flex;
    width: 1450px;
    height: 70px;
    background-color: #221E22;
    position: absolute;
    top: 1052px;
    justify-content: center;
}

.copyy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #EEF4ED;
    position: absolute;
    top: 25px;
}

.contactoBajo h3{
    color: #8DA9C4;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#letraContacto {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    position: absolute;
    top: 30px;
    left: 300px;
}

#letraUbic {
    color:#000;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    position: absolute;
    top: 40px;
    left: 300px;
}

.mapa {
    position: absolute;
    top: 30px;
    left: 780px;
}
